.body-detail {
    background-image: url(https://res.cloudinary.com/dkymtbe7c/image/upload/v1743777201/mimuopis_sdi2gg.png);
    background-repeat: round;
    height: 30rem;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.5); 
    }
    100% {
        opacity: 1;
        transform: scale(1); 
    }
}

.body-detail {
    animation: appear 0.5s forwards; 
}

.card-detail {
    text-align: center;
}

.card-detail h2 {
    font-size: 2rem;
    font-family: monospace;
    text-decoration: underline;
}

.card-detail h3 {
    font-size: 1.5rem;
}

.card-detail p {
    font-family: sans-serif;
}

.card-detail img {
    width: 20rem;
    height: 20rem;
}

.card-detail h2:hover {
    transform: scale(1.2);
}

.card-detail h3:hover {
    transform: scale(1.2);
}

.card-detail p:hover {
    transform: scale(1.2);
}

.card-detail-btn {
    background-color: rgb(255, 0, 0);
    color: rgb(224, 224, 224);
    height: 2.3rem;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    font-family: monospace;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }
  
  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
    }
    66% {
      background: #FF3D00;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
    }
  }